
@{
    ViewBag.Page = "System";
    ViewBag.Title = "404 Page";

}
<div class="row">
    <div class="col-md-12 page-404">
        <div class="number font-green"> 404 </div>
        <div class="details">
            <h3>Aradığınız linke ulaşılamadı...</h3>
           
        </div>
    </div>
</div>

