@model IEnumerable<QuestionBank.Models.UserLesson>
@{
    /**/

    ViewBag.Page = "Konu";
    ViewBag.Title = "Konu Yönetimi";
    ViewBag.Description = "Konu Yönetim Ekranı";
}
<div class="row">
    <div class="col-md-6">
        <div class="btn-group">
            <button id="sample_editable_1_2_new22" class="btn btn-circle green" onclick="location.href='@Url.RouteUrl("AddTopic")'">
                Yeni Konu Ekle
                <i class="fa fa-plus"></i>
            </button>
        </div>
    </div>
</div>
<br />
<table class="table table-bordered" >
    <thead>
        <tr>
            <th>Ders No</th>
            <th>Ders Adı</th>
            <th>Konuları Göster</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr id="tr_@item.ID">
                <td>@item.Lesson.ID</td>
                <td>
                    @item.Lesson.LessonName
                </td>
                <td>
                   @Ajax.ActionLink("Konuları Göster", "LessonTopicsList", "Topic", new { LessonID= item.Lesson.ID },new AjaxOptions { HttpMethod="GET",UpdateTargetId= "DersKonulari" },new { @class = "btn green btn-info btn-circle" })
                   
                </td>
            </tr>
        }

    </tbody>
</table>
<div id="DersKonulari"></div>


@section styles{
    <link href="/Content/assets/global/plugins/datatables/datatables.min.css" rel="stylesheet" type="text/css" />
    <link href="/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.css" rel="stylesheet" type="text/css" />
}


@section scripts {
    <script src="/Content/assets/global/scripts/datatable.min.js" type="text/javascript"></script>
    <script src="/Content/assets/global/plugins/datatables/datatables.min.js" type="text/javascript"></script>
    <script src="/Content/assets/global/plugins/datatables/plugins/bootstrap/datatables.bootstrap.js" type="text/javascript"></script>
    <script src="/Content/assets/pages/scripts/table-datatables-buttons.js" type="text/javascript"></script>

    <script>

        function DeleteTopic(id) {
            if (confirm("Konu Silinsin mi ?")) {
                $.ajax({
                    type: "POST",
                    url: "KonuSil",
                    data: { ID: id },
                    success: function (data) {
                        var result = JSON.parse(data);
                        if (result.durum == "OK") {
                            $("#tr_" + id).remove();
                            $("#message").append("<div class='alert alert-info'><strong></strong>" + result.mesaj + " </div>")
                        }
                        else if (result.durum = "NO") {
                            $("#message").append("<div class='alert alert-info'><strong></strong>" + result.mesaj + " </div>")
                        }
                    }
                });
            }
        }
    </script>
}