@model  IEnumerable<QuestionBank.Models.UserLesson>


<div>
    <h4>Size Atanan Dersler</h4>
    <hr />

    @foreach (var item in Model)
    {
        <p>
            @item.Lesson.LessonName
        </p>
    }
</div>
