
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model  IEnumerable<QuestionBank.Models.KullaniciDers>
<div>
    <h4>Size Atanan Dersler</h4>
    <hr />

    @foreach (var item in Model)
    {
        <p>
            @item.Ders.DersAdi
        </p>
    }
</div>
